.topLinks:link
{
	color:gray;
}
.topLinks:visited
{
	color:darkgray;
}

#linkBox
{
	background-color: white;
	color:gray;
	text-align: center;
	font-size: 3.5vh;
	width: 25%;
	height:25.5vh;
}

#blankSpace
{
	background-color: white;
	width: 10%;
}
#nameBox
{
	font-family: 'Francois One', sans-serif;
	width: 45%;
	font-size: 10vmin;
	background-color: #4aaaa5;
	text-align: center;
	color: white;
	height: 25.5vh;
}
#imagic
{
	margin: 2vh 1vw 1vh 1vw;
	height:25vh;
	float:left;
}
#columnOne
{
	width: 10%;
	background-color: white;
}
 table
 {
 	margin: 0;
 	padding:0;
 	table-layout: fixed;
 	width: 100vw;
 	background-color: lightgray;
 }
 body
 {
 	margin:0;
 	padding:0;
 }
#copyright
{
	background-color: darkgray;
	height:16.5vh;
	font-size: 3vmin;
	color: grey;
	text-align: center;
}
#bioBox
{
	background-color: white;
	margin: 2vh 3vw 2vh 3vw;
	padding: 2vh 2vw 2vh 2vw;
	font-size:3vmin;
	height: 40vh;
}
#spacerBarUp
{
	height: 7.25vh;
}
#spacerBarLow
{
	height: 7.25vh;
}
#backSide
{
	background-color: white;
	width: 10%;
}
#underBox
{
	height: 30vh;
}
#contactLinks
{
	margin: 2vh 3vw 2vh 3vw;
	padding: 2vh 2vw 2vh 2vw;
	background-color: white;
}
#rowThree
{
	height: 10vh;

}
form
{
	height: 18vh;

}